:root{
    --black: #020100ff;
    --lapis-lazuli: #235789ff;
    --school-bus-yellow: #f1d302ff;
    --fire-engine-red: #c1292eff;
    --baby-powder: #fdfffcff;
}


.navTitle{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-size-adjust: 100%;
}

.hero{
    background-image: url("../img/gradient_hero.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
}

.glassContainer{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.42);
}

.section-title{
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
    color:var(--fire-engine-red);
}
.caption{
    font-weight:bold;
    color:var(--fire-engine-red);
}

.imageResize{
    width: 600px; 
    height: 300px; 
    object-fit: cover; 
    display: block;
    border-radius: 8px;
}

/* Background image */

.title{
    font-family: 'Josefin Slab', serif;
}

.image-container {
    display: flex;
    justify-content: center ; /* Aligns the child elements (image) to the right */
}

.h-full {
    min-height: 100vh; /* Full viewport height */
}

.formContainer {
    width: 100%;
    margin: auto;
    padding: 3rem; 
}

.login{
    background-image: url("../img/jungle.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
}

.Cryptonite{
    background: #159957; 
    background: -webkit-linear-gradient(to right, #155799, #159957); 
    background: linear-gradient(to right, #155799, #159957); 
}




