:root{
    --black: #020100ff;
    --lapis-lazuli: #235789ff;
    --school-bus-yellow: #f1d302ff;
    --fire-engine-red: #c1292eff;
    --baby-powder: #fdfffcff;
}


.navTitle{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-size-adjust: 100%;
}

.hero{
    background-image: url("../img/gradient_hero.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
}

.glassContainer{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.42);
}

.section-title{
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
    color:var(--fire-engine-red);
}
.caption{
    font-weight:bold;
    color:var(--fire-engine-red);
}

.info-box {
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

.user-info{
    font-weight:bolder;
    list-style: none;
}



.imageResize{
    width: 600px; 
    height: 300px; 
    object-fit: cover; 
    display: block;
    border-radius: 8px;
}

/* Background image */

.title{
    font-family: 'Josefin Slab', serif;
}

.image-container {
    display: flex;
    justify-content: center ; /* Aligns the child elements (image) to the right */
}

.h-full {
    min-height: 100vh; /* Full viewport height */
}

.formContainer {
    color:black;
    width: 100%;
    margin: auto;
    padding: 3rem; 
}

.login{
    background-image: url("../img/jungle.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
}

.normalContainer{
    display: inline-flexbox;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 2rem;
    border-radius: 2rem;
    background-color: white;
    max-width: 90%;
    max-height: 60%;
    -webkit-box-shadow: 9px 2px 83px -36px rgba(0,0,0,0.73);
    -moz-box-shadow: 9px 2px 83px -36px rgba(0,0,0,0.73);
    box-shadow: 9px 2px 83px -36px rgba(0,0,0,0.73);
}

.movingGrade{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    background: #159957; 
    background: -webkit-linear-gradient(to right, #155799, #159957); 
    background: linear-gradient(to right, #155799, #159957);
    background-size: 600% 600%;
    animation: animateBackground 10s infinite linear;
}

@keyframes animateBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    
}