.glassContainer{
    /* From https://css.glass */
    background: rgba(49, 122, 209, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(49, 122, 209, 0.49); 
}
.colorGradient{
    background: rgb(225,190,106);
    background: linear-gradient(90deg, rgba(225,190,106,1) 15%, rgba(64,176,166,1) 91%);
}

.imageResize{
    width: 600px; 
    height: 300px; 
    object-fit: cover; 
    display: block;
    border-radius: 8px;
}

/* Background image */
.hero{
    background-image: url("../img/jungle.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
}

.title{
    font-family: 'Josefin Slab', serif;
}

.image-container {
    display: flex;
    justify-content: center ; /* Aligns the child elements (image) to the right */
}

.h-full {
    min-height: 100vh; /* Full viewport height */
}

.formContainer {
    width: 100%;
    margin: auto;
    padding: 3rem; 
}

.login{
    background-image: url("../img/jungle.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
}

.Cryptonite{
    background: #159957; 
    background: -webkit-linear-gradient(to right, #155799, #159957); 
    background: linear-gradient(to right, #155799, #159957); 
}
