{%extends "home.html"%}
{%block content%}
<!-- Hero Section of the Page-->
<header class=" container-fluid p-4 bg-light hero text-center my-2">
    <div class="container py-3">
        <h1 class="display-5 fw-bold">Welcome to the Jungle 🪺</h1>
        <p class="col-md-12 fs-4 fw-light ">Come together with us as we change the world with every donation!</p>
        <button class="btn btn-dark btn-lg" type="button">Explore More</button>
    </div>
</header>
<!-- End of Hero Section-->

<!-- Start of the left text containers-->
<section class= "container-fluid p-4">
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>Our Mission</h2>
                <p class="py-2 fs-4 fw-light">Our mission is to use community and technology to end animal extinction and environmental harm.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Our Vision</h2>
                <p class="py-2 fs-4 fw-light">Our vision is to make the earth greener, more biodiverse, and able to support endangered species.</p>
            </div>
        </div>
</section>
{%endblock%}

