{%extends "home.html"%}
{%block content%}
<!-- Hero Section of the Page-->
<header class=" container-fluid p-4 bg-light hero text-center my-2">
    <div class="container py-3">
        <h1 class="display-5 fw-bold">Let Ignite our Curosity 🔥</h1>
        <p class="col-md-12 fs-4 fw-light ">Share your thoughts and ideas to brighten the world</p>
    </div>
</header>
<!-- End of Hero Section-->

<!--Start of the section-->
<section class="container-fluid py-3">
    <div class="row align-items">
        <!-- Adjusts from 7 columns on medium screens to full width on smaller screens -->
        <div class="col-lg-7 col-md-7 col-sm-12">
            <div class="p-5 rounded-3">
                <h2 class="title fw-bold"> About Lumosity</h2>
                <p class="py-2 fs-4 fw-light">
                    a location where the brightest scientists gather to share information
                     and stimulate the creative process. For scientists who want to collaborate
                     , network, and come up with new ideas, this site was particularly designed.
                      At Lumos, we believe that human knowledge can progress and that collective
                       intelligence can solve complex problems. Whether you're discussing the newest
                        research, seeking advice on experimental techniques, or formulating solutions
                         for urgent global problems, Lumos provides a vibrant, supportive atmosphere
                          for scientific conversation. Join us to share tales, expand your network,
                           and introduce the world to your thoughts.
                </p>
            </div>
        </div>
        <!-- Adjusts from 5 columns on medium screens to full width on smaller screens -->
        <div class="col-lg-5 col-md-5 col-sm-12 image-container">
            <img src="{{url_for('static', filename='img/Knowledge.png')}}" style="max-width:60%; max-height:auto; object-fill:contain;"=alt="animals">
        </div>
    </div>
</section>


<!-- Start of the left text containers-->
<section class= "container-fluid p-4 colorGradient ">
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2 class="title fw-bold">Our Mission</h2>
                <p class="py-2 fs-4 fw-light">Our mission is to use community and technology to end animal extinction and environmental harm.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2 class = "title fw-bold">Our Vision</h2>
                <p class="py-2 fs-4 fw-light">Our vision is to make the earth greener, more biodiverse, and able to support endangered species.</p>
            </div>
        </div>
</section>

{%endblock%}

