{%extends "home.html"%}
{%block content%}
<!-- Hero Section of the Page-->
<header class=" container-fluid p-4 bg-light hero text-center my-2">
    <div class="container py-3">
        <h1 class="display-5 fw-bold">Welcome to the Jungle 🪺</h1>
        <p class="col-md-12 fs-4 fw-light ">Come together with us as we change the world with every purchase!</p>
    </div>
</header>
<!-- End of Hero Section-->

<!--Start of the section-->
<section class="container-fluid py-3">
    <div class="row align-items">
        <!-- Adjusts from 7 columns on medium screens to full width on smaller screens -->
        <div class="col-lg-7 col-md-7 col-sm-12">
            <div class="p-5 rounded-3">
                <h2 class="title fw-bold">My Story:</h2>
                <p class="py-2 fs-4 fw-light">
                    I am a student at the University of Leeds. My origins are from the United Arab Emirates.
                     I grew up in a house in the suburbs of Al Ain, where it's covered with golden dunes.
                      I grew up with a lot of animals around me, and I always loved them.
                       I wanted to help them but never knew how.
                        I always thought that one day these animals will become extinct.
                         So, I want to preserve them since they represent one of the national emblems in every country.
                </p>
            </div>
        </div>
        <!-- Adjusts from 5 columns on medium screens to full width on smaller screens -->
        <div class="col-lg-5 col-md-5 col-sm-12 image-container">
            <img src="{{url_for('static', filename='img/camel.jpg')}}" class="imageResize rounded-3" alt="animals">
        </div>
    </div>
</section>

<section class="container-fluid p-4">
    <div class="row align-items">
        <!-- Container for the panda image with a custom class -->
        <div class="col-lg-5 col-md-5 col-sm-12 image-container">
            <img src="{{url_for('static', filename='img/panda.jpg')}}" class="imageResize rounded-3" alt="animals">
        </div>

        <div class="col-lg-7 col-md-7 col-sm-12">
            <div class="p-5 rounded-3">
                <h2 class="title fw-bold">About Jungle:</h2>
                <p class="p-2 fs-4 fw-light">
                    Tucked away in the heart of the city, discover the Jungle Shop, a unique and colourful business dedicated to saving endangered animals. The moment you step inside, the rich, earthy scents of the wild blend with a kaleidoscope of hues. Each niche and shelf is adorned with an assortment of keepsakes and symbols, all of which tell a story about the amazing creatures that live in our planet's forests and jungles.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Start of the left text containers-->
<section class= "container-fluid p-4 colorGradient ">
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2 class="title fw-bold">Our Mission</h2>
                <p class="py-2 fs-4 fw-light">Our mission is to use community and technology to end animal extinction and environmental harm.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2 class = "title fw-bold">Our Vision</h2>
                <p class="py-2 fs-4 fw-light">Our vision is to make the earth greener, more biodiverse, and able to support endangered species.</p>
            </div>
        </div>
</section>

{%endblock%}

