{%extends "admin_home.html"%}
{%block content%}
<main class="container-fluid p-4 h-full">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row d-flex justify-content-middle align-items-center">
                    <div class="col col-2">
                        <div class ="row mb-1">
                            <h1> Items Sold: </h1>
                        </div>
                    <div class ="container">
                        <div class ="row">
                            <div class ="col col-2">
                                <h2> 20 </h2>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col col-2">
                        <div class ="row mb-1">
                            <h1> Total Revenue: </h1>
                        </div>
                    <div class ="container">
                        <div class ="row">
                            <div class ="col col-2">
                                <h2> 100 </h2>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
    </div>
</main>
{%endblock content%}