{%extends "home.html"%}
{%block content%}
<div class="container-fluid border-top h-full">
    <!--Section title -->
    <div class="container-fluid border-bottom">
        <div class="row">
            <h1 class="display-3  fw-bold pt-4 p-6 text-center">The Admin Page 👔 </h1>
        </div>
        <div class="row pb-3 mb-3">
            <p class="fs-3 fw-light text-center">The table shows the users, their posts , and their comments</p>
        </div>
    </div>

    <div class="container border-bottom-black py-3 movingGradeient h-full rounded-3">
        {% for user in users %}
        <div class="row mb-2">
            <div class="col-12 col-md-2"><strong>Username:</strong> {{ user.username }}</div>
            <div class="col-12 col-md-2"><strong>Full Name:</strong> {{ user.name }}</div>
            <div class="col-6 col-md-2"><strong>Posts:</strong> {{ user_posts_counts[user.id] }}</div>
            <div class="col-6 col-md-2"><strong>Comments:</strong> {{ user_comments_counts[user.id] }}</div>
            <div class="col-12 col-md-4">
                <form action="{{ url_for('deleteUsers', user_id=user.id) }}" method="post">
                    {{ delete_user_form.hidden_tag() }}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    
    
{%endblock content%}