{%extends "user_home.html"%}
{%block content%}
    <div class="container-fluid border-top h-full">
        <!--Section title -->
        <div class="container-fluid border-bottom">
            <div class="row">
                <h1 class="display-3 pt-4 p-6  text-center">The Explore Page 🧭</h1>
            </div>
            <div class="row pb-3 m-3">
                <p class="fs-3 fw-light  text-center">Here you find the posts from other users</p>
            </div>
        </div>
        <!-- All Posts-->
        <div class="container-fluid rounded-1 border-left movingGrade d-grid", style="width:100%;">
            <h1 class="display-3 pb-3 m-6 text-center text-white">Recent Posts</h1>
            <div class="row d-flex justify-content-center align-items-center p-3 gap-3">
                {% for post in posts %}
                <div class="col-md-3">
                    <div class="container growContainer normalContainer" id="{{ post.id }}">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="fw-light px-3">{{ userCache[post.author_id] }}</h5>
                                <h5 class="fw-light px-3">{{ post.publish_date }}</h5>
                            </div>
                            <div class="col-md-6">
                                <h4 class="fw-bold text-center">{{ post.title }}</h4>
                                <h3 class="fw-light text-center">{{ post.caption }}</h3>
                            </div>
                            
                            <div class="col-md-12 text-center my-2">
                                <a href="{{ url_for('post', post_id=post.id) }}" class="btn btn-primary">Read More</a> <!-- Centered button -->
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>    
    <nav class="navbar border-top border-bottom">
        <div class="d-flex justify-content-center align-items-center w-100">
            <h3 class="fw-light"> You've reached the end of the Page 😐 </h3>
        </div>
    </nav>

    
{%endblock content%}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/posts.js') }}"></script>
{% endblock scripts %}


