{%extends "home.html"%}
{%block content%}
<!-- Navigation Bar -->
<div class="container-fluid my-5">
    <!-- Main Container -->
    <div class="container">
        <!-- Row for Two Containers -->
        <div class="row">
            <!-- Left Container -->
            <div class="col-md-6">
                <!-- Left Container Content -->
                <div class="row my-2">
                    <div class="col-md-12">
                        <!-- Image with the 'imageResize' class -->
                        <img src="{{ url_for('static', filename='img/girraffe_p.jpg') }}" class="imageResize" alt="Giraffe">
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <!-- Heading and Content -->
                        <h1>Welcome to the Giraffe House</h1>
                        <p>Explore more about the beauty of height.</p>
                        <!-- Read More Button -->
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <!-- Right Container -->
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Image with the 'imageResize' class -->
                        <img src="{{ url_for('static', filename='img/zebra.jpg') }}" class="imageResize" alt="Giraffe">
                    </div>
                </div>
                <div class="row d-flex">
                    <div class="col-md-12">
                        <!-- Date and User Tag -->
                        <p class="date-tag fs-5 my-2">@Rubayea_AlKetbi</p>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <!-- Heading and Content -->
                        <h1>Welcome to the Zebra House</h1>
                        <p>The Zebra House is a non-profit organization...</p>
                        <!-- Read More Button -->
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock content%}
