{%extends "home.html"%}
{%block content%}
<main class="container-fluid p-4 h-full Cryptonite">
    <div class = "container ">
        <div class ="row p-2 d-flex justify-content-center align-items-center h-100">
            <div class = "col-12 text-center">
                <h1 class="fw-bold text-white">Welcome to the Login page</h1>
                <p class="fs-4 fw-light text-white">Login to your account</p>
            </div>
        <form method = "post" class="formContainer glassContainer" style="max-width:40rem; border-radius:10px;">
            {{login_form.hidden_tag()}}
            <div class="mb-1 p-3">
                {{login_form.email.label(class="form-label text-white")}}
                {{login_form.email(class="form-control")}}
            </div>
            <div class="mb-1 p-3">
                {{login_form.password.label(class="form-label text-white")}}
                {{login_form.password(class="form-control password")}}
            </div>
            <button type="submit" class="btn btn-primary btn-lg m-1">Submit</button>
        </form>
    </div>
</main>
{%endblock content%}