{%extends "home.html"%}
{%block content%}
<main class="container-fluid p-4 h-full movingGrade">
    <div class = "container ">
        <div class ="row p-2 d-flex justify-content-center align-items-center h-100">
            <div class = "col-12 text-center">
                <h1 class="fw-bold text-white display-4">Welcome to the Login page ✨</h1>
                <p class="fs-4 fw-light text-white py-2">Login to your Account to start sharing</p>
            </div>
            <form method="post" class="formContainer neoBackground d-inline-box" style="max-width:60rem; border-radius:10px; padding:3rem;">
                {{ login_form.hidden_tag() }}
                <div class "container p-4">
                <!-- Username field with icon -->
                <div class="mb-1 p-3">
                    {{ login_form.username.label(class="form-label text-white fs-3") }}
                    <div class="input-group has-validation">
                        <span class="input-group-text">
                            <i class="fa fa-user"></i> <!-- Font Awesome user icon -->
                        </span>
                        {{ login_form.username(class="form-control", placeholder="e.g Dr42") }}
                    </div>
                </div>
            
                <!-- Password field with icon -->
                <div class="mb-1 p-3">
                    {{ login_form.password.label(class="form-label text-white fs-3") }}
                    <div class="input-group has-validation">
                        <span class="input-group-text">
                            <i class="fa fa-lock"></i> <!-- Font Awesome lock icon -->
                        </span>
                        {{ login_form.password(class="form-control password") }}
                    </div>
                </div>
            
                <!-- Button container with d-flex and justify-content-center classes -->
                <div class="d-flex justify-content-center p-3">
                    <button type="submit" class="btn btn-primary btn-lg m-1 growContainer">Login</button>
                    <a href="{{ url_for('register') }}" class="btn btn-primary btn-lg m-1 growContainer">Register</a>
                </div>
                </div>
            </form>
            
        </div>
    </div>
</main>
{%endblock content%}
