{%extends "home.html"%}
{% block content %}
<main class="container-fluid p-4 h-full Cryptonite">
    <div class = "container">
        <div class ="row p-2 d-flex justify-content-center align-items-center h-100">
            <div class = "col-12 text-center">
                <h1 class="fw-bold text-white">Welcome to the Register page</h1>
                <p class="fs-4 fw-light text-white">Join the act</p>
            </div>
        <form method = "post" class="formContainer glassContainer" style="max-width:40rem; border-radius:10px;">
            {{register_form.hidden_tag()}}
            <div class="mb-1 p-3">
                {{register_form.fname.label(class="form-label text-white")}}
                {{register_form.fname(class="form-control")}}
            </div>
            <div class="mb-1 p-3">
                {{register_form.lname.label(class="form-label text-white")}}
                {{register_form.lname(class="form-control")}}
            </div>
            <div class="mb-1 p-3">
                {{register_form.username.label(class="form-label text-white")}}
                {{register_form.username(class="form-control")}}
            </div>
            <div class="mb-1 p-3">
                {{register_form.email.label(class="form-label text-white")}}
                {{register_form.email(class="form-control")}}
            </div>
            <div class="mb-1 p-3">
                {{register_form.password.label(class="form-label text-white")}}
                {{register_form.password(class="form-control")}}
            </div>
            <div class="mb-1 p-3">
                {{register_form.confirm.label(class="form-label text-white")}}
                {{register_form.confirm(class="form-control")}}
            </div>
            <div class="mb-1 p-3">
                {{register_form.registerButton(class="btn btn-primary")}}
        </form>
    </div>
</main>


{% endblock content%}

