{% extends "home.html" %}
{% block content %}
<main class="container-fluid p-4 h-full movingGrade py-3">
    <div class="container">
        <div class="row p-2 d-flex justify-content-center align-items-center h-100">
            <div class="col-12 text-center">
                <h1 class="fw-bold text-white display-4">Sign Up with Lumos✨</h1>
                <p class="fw-light text-white display-6 pb-2">Join the act 👀</p>
            </div>
            <form method="post" class="formContainer glassContainer" style="max-width:60rem; border-radius:20px;" id="registerForm">
                {{ register_form.hidden_tag() }}
                <div class="container p-4">
                <!-- Each field is wrapped in col-md-6 for medium to large screens, stacked on smaller screens -->
                <div class="row">
                    <div class ="col-md-12">
                        <h1 class="fs-1 text-white"> Personal Details:</h1>
                    </div>
                        <div class="col-md-6 mb-1 p-3">
                        {{ register_form.fname.label(class="form-label text-white fs-3") }}
                        <div class="input-group has-validation">
                            {{ register_form.fname(class="form-control", placeholder="e.g Rubayea") }}
                        </div>
                    </div>
                    <div class="col-md-6 mb-1 p-3">
                        {{ register_form.lname.label(class="form-label text-white fs-3") }}
                        <div class="input-group has-validation">
                            {{ register_form.lname(class="form-control",placeholder="e.g AlKetbi") }}
                        </div>
                    </div>
                </div>
                <div class="row border-top my-4 py-4">
                    <div class ="col-md-12">
                        <h1 class="fs-1 text-white"> Account Details:</h1>
                    </div>
                    <div class="col-md-6 mb-1 p-3">
                        {{ register_form.username.label(class="form-label text-white fs-3") }}
                        <div class="input-group has-validation">
                            <span class="input-group-text">
                                <i class="fa-solid fa-user"></i></span>
                            {{ register_form.username(class="form-control", id="username" ,placeholder="e.g Dr42") }}
                            <div class="invalid-feedback" id="usernameError"></div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-1 p-3">
                        {{ register_form.email.label(class="form-label text-white fs-3") }}
                        <div class="input-group has-validation">
                            <span class="input-group-text">
                                <i class="fa fa-envelope"></i> <!-- Font Awesome envelope icon -->
                            </span>
                            {{ register_form.email(class="form-control",placeholder="e.g name@server.com", type="email") }}
                            <div class="invalid-feedback" id="emailError"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-1 p-3">
                        {{ register_form.password.label(class="form-label text-white fs-3") }}
                        <div class="input-group has-validation">
                            <span class="input-group-text">
                                <i class="fa fa-lock"></i> <!-- Font Awesome lock icon -->
                            </span>
                            {{ register_form.password(class="form-control") }}
                            <div class="invalid-feedback" id="passwordError"></div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-1 p-3">
                        {{ register_form.confirm.label(class="form-label text-white fs-3") }}
                        <div class="input-group has-validation">
                            <span class="input-group-text">
                                <i class="fa fa-lock"></i> <!-- Font Awesome lock icon -->
                            </span>
                            {{ register_form.confirm(class="form-control") }}
                            <div class="invalid-feedback" id="confirmError"></div>
                        </div>
                    </div>
                </div>

                <div class="mb-1 p-3 text-center pt-4">
                    {{ register_form.registerButton(class="btn btn-primary btn-lg") }}
                </div>

                </div>
            </form>
        </div>
    </div>
</main>

<nav class="navbar border-top border-bottom">
    <div class="d-flex justify-content-center align-items-center w-100">
        <h3 class="fw-light"> Made by Martians 👽 </h3>
    </div>
</nav>

<script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock content %}