{% extends "home.html" %}
{% block content %}

<div class="h-full"> 
    <!--The title of the page-->
    <div class="container-fluid border-top border-bottom py-4">
        <section class="container-sm my-auto text-center">
            <h1 class="display-5 fw-bold">Account Setting✨</h1>
        </section>
    </div>
    <!--Container of the page that contains all of the forms from the viewport-->
    <div class="container-fluid border-top p-4 movingGradeient">
        <!--Sub-title-->
        <div class="container border-all">
            <div class="row d-flex justify-content-center border-bottom">
                <div class="col-md-12">
                    <h1 class="display-5 fw-bold text-white">{{user.username}} Setting ⚙️</h1>
                    <p class="fs-4 text-white">You can edit the setting just by clicking on the panel</p>
                </div>
            </div>

        <div class ="row d-flex py-3">
            <div class="col-md-5">
                <!-- Display the current details container-->
                <div class = "container border glassContainer mb-4">
                    <div class ="row d-block">
                        <div class = "col-md-12 py-3">
                            <h3 class="fs-2 fw-bold text-white">Current Account Details</h3>
                            <!-- Account Details Here -->
                            <p class="fs-3 text-white mb-1 fw-light"><strong>Username: </strong> {{ user.username }}</p>
                            <p class="fs-3 text-white mb-1 fw-light"><strong>Name: </strong> {{ user.name }}</p>
                            <p class="fs-3 text-white mb-1 fw-light"><strong>Email: </strong> {{ user.email }}</p>
                        </div>
                    </div>
                </div>
                <!--Display changing password widget-->
                <div class = "container border bg-info rounded-3 my-4 text-center">
                    <div class ="row d-block">
                        <div class = "col-md-12 py-2">
                            <h3 class="fs-1 fw-bold text-white">Change Password🔐</h3>
                            <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#changeModal">
                                Change Password
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Displau account deletion widget-->
                <div class = "container border glassContainer bg-danger my-4 text-center">
                    <div class ="row d-block">
                        <div class = "col-md-12 py-2">
                            <h3 class="fs-1 fw-bold text-white">Delete Account ⚠️</h3>
                            <button type="button" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#deleteModal">
                               Remove Account
                              </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Display the form to update the account details-->
            <div class="col-md-7">
                <div class="container glassContainer py-1 pb-2">
                    <div class ="row d-block">
                        <div class = "col-md-12 py-2 p-3 d-block justify-contents-center my-3 p-5">
                            <h3 class="fs-1 fw-bold text-white">Update Your Account Info : </h3>
                            <!-- Account Details Here -->
                            <form action="{{url_for('userDash')}}" method="POST" class="">
                                {{ register_form.hidden_tag() }}
                                <div class="mb-3 input-group my-3">
                                    <span class="input-group-text my-3"><i class="fa fa-user"></i></span>
                                    <input type="text" class="form-control fs-4 my-3" id="username" name="username" placeholder="Username" value="{{ user.username }}">
                                    <label for="username" class="form-label fs-3 text-white visually-hidden">Username</label>
                                </div>
                                <div class="mb-3 input-group my-3">
                                    <span class="input-group-text my-3"><i class="fa fa-id-card"></i></span>
                                    <input type="text" class="form-control my-3 fs-4" id="name" name="name" placeholder="Full Name" value="{{ user.name }}">
                                    <label for="name" class="form-label fs-3 text-white visually-hidden">Full Name</label>
                                </div>
                                <div class="mb-3 input-group my-3">
                                    <span class="input-group-text my-3"><i class="fa fa-envelope"></i></span>
                                    <input type="email" class="form-control fs-4 my-3" id="email" name="email" placeholder="Email Address" value="{{ user.email }}">
                                    <label for="email" class="form-label fs-3 text-white visually-hidden">Email Address</label>
                                </div>
                                <div class="text-center mt-5">
                                    <button type="submit" name="update" class="btn btn-primary fs-3" style = "width:100%;">Submit</button>
                                </div>
                            </form>
                            <!--End of the form-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Footer-->
<nav class="navbar border-top ">
    <div class="d-flex justify-content-center align-items-center w-100">
        <h3 class="fw-light"> Embarcing Changes is our motto ➿ </h3>
    </div>
</nav>


<!-- Change Password Modal -->
<div class="modal fade" id="changeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header bg-primary">
          <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Change Password</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <h3 class="fs-2 fw-bold text-primary">Change Your Password</h3>
                        <p class="fs-4 text-primary">It's a good idea to use a strong password that you're not using elsewhere</p>
                    </div>
                </div>

                <div class="row d-box justify-content-center">
                    <form action="{{ url_for('userDash') }}" method="POST" class="col-md-12">
                        {{ password_form.hidden_tag() }}
                        <div class="mb-3 input-group ">
                            <span class="input-group-text my-3"><i class="fa-solid fa-key"></i></span>
                            <input type="password" class="form-control my-3 fs-4" id="old_password" name="old_password" placeholder="Old Password" required>
                            <label for="old_password" class="form-label fs-3 text-white visually-hidden">Old Password</label>
                        </div>
            
                        <div class="mb-3 input-group ">
                            <span class="input-group-text my-3"><i class="fa-solid fa-key"></i></span>
                            <input type="password" class="form-control my-3 fs-4" id="password" name="password" placeholder="New Password" required>
                            <label for="password" class="form-label fs-3 text-white visually-hidden">New Password</label>
                        </div>
                        
                        <div class="mb-3 input-group">
                            <span class="input-group-text my-3"><i class="fa-solid fa-key"></i></span>
                            <input type="password" class="form-control my-3 fs-4" id="confirm" name="confirm" placeholder="Confirm New Password" required>
                            <label for="confirm" class="form-label fs-3 text-white visually-hidden">Confirm New Password</label>
                        </div>
            
                        <div class="text-center mt-5">
                            <button type="submit" name="change" class="btn btn-warning fs-3" style="width:100%;">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>            
        </div>
      </div>
    </div>
</div>

<!--Delete Account Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog rounded-3">
      <div class="modal-content">
        <div class="modal-header bg-danger">
          <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Delete Account</h1>
          <button type="button" class="btn-close btn-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class ="container">
            <div class = "row d-flex justidy-content-center">
                <div class = "col-md-12">
                    <h3 class="fs-2 fw-bold text-danger">Are you sure you want to delete your account?</h3>
                    <p class="fs-4 text-danger">You will lose all your data and you will not be able to recover it</p>
                </div>
            </div>
            <div class="row d-box justify-content-center">
                <form action="{{ url_for('userDash') }}" method="POST">
                    {{ delete_form.hidden_tag() }}
                    
                    <div class="mb-3 input-group my-3">
                        <span class="input-group-text my-3"><i class="fa fa-envelope"></i></span>
                        <input type="email" class="form-control fs-4 my-3" id="email" name="email" placeholder="Email" value="{{ user.email }}" readonly>
                        <label for="email" class="form-label fs-3 text-white visually-hidden">Email</label>
                    </div>
                    
                    <div class="mb-3 input-group my-3">
                        <span class="input-group-text my-3"><i class="fa-solid fa-key"></i></span>
                        <input type="password" class="form-control my-3 fs-4" id="confirm_password" name="confirm_password" placeholder="Password" required>
                        <label for="confirm_password" class="form-label fs-3 text-white visually-hidden">Password</label>
                    </div>
            
                    <div class="modal-footer">
                        <button type="submit" name="delete" class="btn btn-danger fs-3" data-bs-dismiss="modal" style="width:100%;">Delete Account</button>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
